<table class="table table-condensed">
            <thead>
              <tr class="cart_menu">
                <td class="image">Item</td>
                <td class="description"></td>
                <td class="price">Price</td>
                <td class="quantity">Quantity</td>
                <td class="total">Total</td>
                <td></td>
              </tr>
            </thead>
            <tbody>
              <%if order_form.present?%>
                 <%= render partial: 'line_item', collection: order_form.object.line_items, locals: {order_form: order_form} %>
              <%else%>
                <tr>
                  <td colspan="5">You cart is empty</td>
                </tr>  
              <%end%>   
              
            </tbody>
           
          </table>

