<footer id="footer" class="sixteen columns" data-hook="">
  <div id="footer-left" class="columns alpha eight" data-hook="">
    <p>Copy right @ Herbage Online services LLP</p>
  </div>
  <div id="footer-right" class="columns omega eight" data-hook=""></div>
</footer>